.post{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 10px;
    border: 1px solid lightgrey;
    margin-top: 10px;
}

.post__header{
    display: flex;
    align-items: center;
    cursor: pointer;
}



.post__avatar{
    margin-right: 10px;
    height: 50px !important;
    width: 50px !important;
    font-size: 30px !important;
    background-color: var(--avatar-background) !important;
}

.post__info > h2{
    font-size: 17px;
    color: var(--header);
}

.post__info > p{
    color: var(--post-description);
    font-size: 13px;
    font-weight: 400;
}

.post__body{
    margin-top: 15px;
}

.post__body > p{
    font-size: 15px;
    color: var(--post-body);
    line-height: 1.5;
    overflow-wrap: anywhere;
}

.post__bottom{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--post-buttonsBorder);
}

.post__buttons{
    display: flex;
}   

.delete__icon{
    color: gray;
    cursor: pointer;
    margin-top: 8px;
}

.delete__icon:hover{
    font-size: 25px !important;
    color: var(--blue-text);
}